<!DOCTYPE html>
<html>
  <head>
    <title>make a pirate!</title>
  </head>
  <body>
    <h1>Welcome to the Nested Forms Lab!</h1>
    <h2>make a new pirate!</h2>
    <br>
    <h3><a href="/new">make a new pirate</a></h3>
  </body>
</html>
